@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-size: 20px;
    }
}
@layer components {
    .hero {
        scrollbar-width: none;
        @apply absolute max-w-[768px] mx-auto my-2 overflow-y-scroll 
    }

    .heading {
        @apply text-center p-8 text-4xl
    }


    .action-button {
        @apply px-8 py-4 rounded-full shadow-lg mx-8 mt-8 mb-2;
        transition: all;

    } 

    .action-button:active {
        transform: translateY(3%);
        @apply bg-opacity-90 shadow-md
    }
    .action-button:disabled {
        @apply bg-opacity-90 bg-zinc-300
    }

    @keyframes fadeInDown {
        from {
            opacity: 0;
            transform: translateY(-20%);
        }
        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20%);
        }
        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }


}

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }
}